:root {
  --main: white;
  --main-font: black;
  --main-font-weight: 400;
  --bold-font-weight: 600;

  --nav-button-main: lightgrey;
  --nav-button-border: grey;
  --nav-light-button-border: #dfdfdf;
  --nav-button-clicked: rgb(163, 163, 163);
}

@font-face {
  font-family: SCP;
  src: url(fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

* {
  background-color: var(--main);
}

body {
  font-family: SCP, serif;
  color: var(--main-font);
  font-weight: var(--main-font-weight);
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between !important;
}

/* INDEX (HOME) */

.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 65%;
}

.homeContent h1,
h2 {
  margin: 0;
}

/* NAV */

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2em;
  margin-top: 1em;
}

.navItem {
  color: var(--main-font);
  padding: 10px;
  background-color: var(--nav-button-main);
  box-shadow: inset -1px -1px var(--nav-button-border), inset 1px 1px white,
    inset -2px -2px var(--nav-button-border),
    inset 2px 2px var(--nav-light-button-border);
  text-decoration: none;
}

.navItem-current {
  background-color: var(--nav-button-clicked);
}

.navItem:visited {
  color: var(--main-font);
}

.navItem:hover {
  background-color: var(--nav-button-clicked);
}

.navItem:active {
  box-shadow: inset -1px -1px var(--nav-light-button-border),
    inset 1px 1px var(--nav-button-border),
    inset -2px -2px var(--nav-light-button-border),
    inset 2px 2px var(--nav-button-border);
}

/* for title on all pages but home */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-weight: var(--bold-font-weight);
}

/* ABOUT */

.aboutContent {
  width: 40%;
  justify-self: center;
}

.aboutGrouping {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  justify-content: center;
}

.aboutName {
  align-self: self-end;
}

.aboutName h2,
h3 {
  margin: 0;
  margin-bottom: 2px;
}

/* EXPERIENCE */

.experienceContent {
  margin-top: 2em;
  width: 40%;
  justify-self: center;
}

.experienceContent h2,
h3,
h4 {
  margin: 0;
}

.experienceContent hr {
  margin-top: 2em;
  margin-bottom: 2em;
}


/* PROJECTS */

.projectContent {
  width: 75%;
  max-width: 75%;
  margin-top: 2em;
  justify-self: center;
}

.projectPageContent {
  width: 50%;
}

.projectContent img {
  width: 100%;
  border: 1px black solid;
}

.projectImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1em;
}

.projectTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectTool {
  font-size: 2em;
  color: var(--main-font);
  padding: 10px;
  background-color: var(--nav-button-main);
  box-shadow: inset -1px -1px var(--nav-button-border), inset 1px 1px white,
    inset -2px -2px var(--nav-button-border),
    inset 2px 2px var(--nav-light-button-border);
}

.projectItem {
  color: var(--main-font);
  padding: 10px;
  background-color: var(--nav-button-main);
  box-shadow: inset -1px -1px var(--nav-button-border), inset 1px 1px white,
    inset -2px -2px var(--nav-button-border),
    inset 2px 2px var(--nav-light-button-border);
  text-decoration: none;
}

.projectItem:visited {
  color: var(--main-font);
}

.projectItem:hover {
  background-color: var(--nav-button-clicked);
}

.projectItem:active {
  box-shadow: inset -1px -1px var(--nav-light-button-border),
    inset 1px 1px var(--nav-button-border),
    inset -2px -2px var(--nav-light-button-border),
    inset 2px 2px var(--nav-button-border);
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* CONTACT */

.contactContent {
  margin-top: 2em;
  justify-self: center;
}

.contactContent h2 {
  margin: 0;
}

.contactContent i {
  color: black;
  font-size: 3em;
  padding: 10px;
  background-color: var(--nav-button-main);
  box-shadow: inset -1px -1px var(--nav-button-border), inset 1px 1px white,
    inset -2px -2px var(--nav-button-border),
    inset 2px 2px var(--nav-light-button-border);
}

.contactContent i:hover {
  background-color: var(--nav-button-clicked);
}

.contactContent i:active {
  box-shadow: inset -1px -1px var(--nav-light-button-border),
    inset 1px 1px var(--nav-button-border),
    inset -2px -2px var(--nav-light-button-border), inset 2px 2px grey;
}

.contactContent form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contactContent form button {
  font-family: SCP;
  font-size: 1em;
  width: 5em;
  padding: 1em;
  background-color: var(--nav-button-main);
  box-shadow: inset -1px -1px var(--nav-button-border), inset 1px 1px white,
    inset -2px -2px var(--nav-button-border),
    inset 2px 2px var(--nav-light-button-border);
  border: none;
}

.contactContent form button:hover {
  background-color: var(--nav-button-clicked);
}

.contactContent form button:active {
  box-shadow: inset -1px -1px var(--nav-light-button-border),
    inset 1px 1px var(--nav-button-border),
    inset -2px -2px var(--nav-light-button-border), inset 2px 2px grey;
}

.contactContent form input {
  height: 2em;
}

.contactContent form textarea,
input {
  border: solid 2px black;
}

.contactContent form label {
  margin-bottom: 1em;
  padding: 0;
}

.contactContent form .formGroup {
  display: flex;
  flex-direction: column;
}

.contactContent .icons {
  margin-top: 2em;
  margin-bottom: 2em;
}

.contactContent hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Utilities */

.m2y {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Small Screens (Phones) */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .contactContent {
    width: 80%;
  }

  .experienceContent {
    width: 80%;
  }

  .aboutContent {
    width: 80%;
    align-items: center;
  }

  .aboutGrouping {
    flex-direction: column;
    align-items: center;
  }

  .aboutName {
    align-self: center;
  }
}
